
* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*----------------------------DRAW-AREA-------------*/


#main-content{
    display: flex;
    flex-direction: row;
}

.side-area{
    width: 200px;
    height: 700px;
    border: black solid 1px;
    margin-right: 1em;
}

.draw-area{
    width: 700px;
    height: 700px;
    border: black solid 1px;

    display: flex;
}

.column {
    flex: 1; /* <--- required (style column to fill the same space as the other columns) */
    display: flex;
    flex-direction: column;
}

.row{
    flex: 1;
}

/*---------------------------FOOTER---------------*/
footer{
    margin-top: 50px;
}